body {
  background-color: #D7C0AE;
  color: #2C3639;
  font: italic small-caps bold 15px/1.5 cursive;
  padding-top: 5px;
  padding-bottom: 50px;
}
hr {
  border-color: #EEE3CB;
  border-style: dotted;
  width: 50%;
  border-width: thick;
  border-bottom: none;
}
h1 {
  color: #614124;
  position: relative;
}
.titulo {
position: relative;
  left: 20px;
}
.foto {
  float: left;
position: relative;
  top: -18px;
}
h2 {
  color: #614124;
}
h3 {
  color: #614124;
}
h4 {
  color: #614124;
}
h5 {
  color: #614124;
}
h6 {
  color: #614124;
}
a {
  text-decoration: none;
  color: brown;
}
.pri{
  margin-bottom: 51px;
}
